@media (max-whidth: 1200px) {
    .left-menu{
        height: 100vh;
        width: 0;
        position: absolute;
        box-shadow: 3px -1px 19px 1px #ddd;
        overflow-y:scroll ;
        background: var(--white-color);
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        margin-top: -5px;
        z-index: 99;
    }
    .content-wrapper{
        margin-left: 0;
    }
    .left-menu.hide{
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        width: 200px;
        position: fixed;
        z-index: 99;

    }
}