.content-wrapper {
    margin-left: 240px;
    margin-top: 65px;
    transition: .5s;
}

.content-wrapper.hide{
    margin-left: 0;
}
.top-chart-earn {
    border-radius: 5px;
    padding: 15px;
    box-shadow: -2px 3px 13px 0px #ddd6;

}

.last-month {
    line-height: 20px;
    text-align: center;
}

.last-month h5 {
    font-size: 20px;
    font-weight: 600;
}

.last-month p {
    font-size: 12px;
    color: #777;
}
.earn{
    margin:12px 0;
}
.earn h2{
    font-size: 26px;
    font-weight: 600;
}
.sale h2{
    font-size: 25px;
    font-weight: 600;
}
.chart-nav.active {
    background-color: #fff !important;
    color: var(--main-color) !important;
    border-bottom: 2px solid var(--main-color);
    border-radius: 0;
}

.chart-nav {
    color: var(--second-color);
}
.chart-nav:hover{
    color:var(--main-color);
}
.chart-nav {
    padding: 0px 15px;
    transition: .3s;
    border-radius: 0;

}
.chart-header-tab {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
} 

/*===============top-section chart bottom row style===========*/

.bdr-cls {
    border-right: 1px solid #dddddd6b;
}
.wre-sec {
    overflow: hidden;
    border-top: 1px solid #dddddd6b;
}

.earn-view {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.earn-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 3px;
    line-height: 20px;
    font-size: 16px;
    color: var(--white-color);
}
.wallet {
    background: var(--main-color);
}

.referral {
    background: #a623e8;
}

.sales {
    background: #22bd27;
}

.earning {
    background: #d8ff00;
}

.traffice-title {
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    padding-left: 15px;
}
/*================traffice chart style============*/
div#chart-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}   

/*================small chart style============*/

    .revinue.revinue-one_hybrid {
        background: linear-gradient( 
    121deg
     , rgba(194, 13, 90, 1)25%, rgb(162 101 182)100%);
    }

.revinue {
    padding-top: 15px;
    border-radius: 8px;
    overflow: hidden;
}

.w-title {
    display: flex;
    padding: 0 7px 10px;
    align-items: center;
}

.w-icon {
    font-size: 28px;
    color: var(--white-color);
    padding-right: var(--mb-2);
}

.sm-chart-text {
    line-height: 20px;
    color: var(--white-color);
}

p.w-value {
    font-size: 16px;
}   
/* page view chart*/
.page-one_hybrid{
    background: linear-gradient(121deg, rgb(92 26 195)25%, rgb(136 25 206 / 95%)100%);
}
/*===========bonus rate chart design=========*/
.bonuce-one_hybrid{

background: #22bd27;
}
/*=============revinue status chart design==========*/
.revinue.rv-status-one_hybrid {
    background: #d8ff00;
}

/*====================admin card style start=============*/
.admin-list {
    padding: 10px;
    border-radius: 5px;
    background: var(--white-color);
    box-shadow: -2px 3px 13px 0px #ddd6;
}

img.admin-image {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

p.admin-ac-title {
    font-size: 15px;
    font-weight: 500;
    padding: 0 5px;
    display: inline-block;
    border-bottom: 2px solid var(--main-color);
    line-height: 1.5;
    margin-bottom: 13px;
}

li.admin-li {}

li.admin-li {
    display: flex;
    align-items: center;
    margin: 3px 0;
    padding: 10px;
}

.admin-ac-details {
    padding-left: 10px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.admin-name {
    font-size: 15px;
    font-weight: 500;
    color: var(--second-color);
    transition: 3.s;
}
.admin-name:hover {
    color: var(--main-color);
}

p.activaty-text {
    font-size: 11px;
    color: #989898;
}
.status {
    text-align: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}